@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Open+Sans:wght@300;700&family=Oswald:wght@300&display=swap');

body {
    background-color: #3C3D42;
    color: #DFF3E3;
    font-family: "Open Sans", "Cutive Mono", Lato, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#hero-box {
    grid-column: 1/2;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    text-align: justify;
    margin: 20px;
}

.home-title {
    text-align: center;
    font-family: "Open Sans", Oswald, "IM Fell French Canon", Arial, Helvetica, sans-serif;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 50px;
}

nav {
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-align: center;
    color: #DFF3E3;
    text-decoration: none;
    padding: 35px;
    transition: all .5s ease;
    float: right;
}

header {
    background-color: #11270B ;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color: #EFAF8E ;
    color: #11270B;
}

#active_page {
    background-color: #EFAF8E ;
    color: #11270B;
}

#active_page:hover {
    background-color: #11270B ;
    color: #ffffff;
}

footer {
    color: #DFF3E3;
    padding: 25px 50px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer a {
    color: #DFF3E3;
    text-decoration: none;
}

footer a:hover  {
    color: #ffffff;
}

footer .social img {  
    padding: 15px;
    width: 50px;
    float: right;
}

.trademark {
    grid-column: 1/2;
}

footer .social {
    grid-column: 4/5;
}

hr {
    margin: 0;
    color: white;
}

#projects {
    margin: 0 20px 20px;
}

.project {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 20px;
}

.project h3 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.project p {
    grid-column: 1/2;
    grid-row: 2/3;
}
.project img {
    grid-column: 2/3;
    grid-row: 1/3;
    width: 100%;
}

#resume {
    display: grid;
    grid-template-columns: 30% 70%;
}

.profile {
    grid-column: 1/2;
    margin: 15px;
}

.profile img {
    width: 100%;
}

.work-experience {
    grid-column: 2/3;
    margin: 15px;
}

.education {
    grid-column: 2/3;
    margin: 15px;
}

.skills {
    grid-column: 2/3;
    margin: 15px;
}

.resume-section {
    background-color: #303136;
}

