body {
    background-color: #3C3D42;
    color: #DFF3E3;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#hero-box {
    grid-column: 1/2;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
}